{% extends 'partials/base.html' %}

{% block title %}Pay loan{% endblock %}
{% load crispy_forms_tags %}

{% block content %} 

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display-8">About</h2>
  </div>
</div>

<div class="container">
	<div class="row">
		<div class="col text-center">
			<h1> Bank Management System</h1>

			<p><br>Develop an application to help a bank manager manage customer accounts. The bank offer several bank accounts types. Each customer can have one or more accounts. The customer can go the operations permitted by the account type, such as deposit, withdraw, or balance enquire. The bank manages the account by debiting the fees, or crediting the profits. Both the bank employees and the customers can print reports about the current account details.</p>
		</div>
	</div>
	<br>
</div>



{% endblock content %} 