{% extends 'partials/base.html' %}

{% block title %}Dashboard Page{% endblock %}
{% load crispy_forms_tags %}

{% block content %} 

<h1> data akun </h1>
<h2> {{nasabah.name}} </h2>

<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;    
}
</style>

<table style="width:100%;">
  <tr>
    <th>id</th>
    <th>type</th>
    <th>balance</th>
    <th> transaction </th>
  </tr>
    {% for accounts in accounts %}
  <tr>
    
    <td>{{accounts.id_account}}</td>
    <td>{{accounts.type}}</td>
    <td>{{accounts.balance}}</td>
    <td> <a href="{% url 'deposit' accounts.id_account %}">deposit</a>
     <a href="{% url 'withdraw' accounts.id_account %}">withdraw</a>
     <a href="{% url 'BalanceEnquiry' accounts.id_account %}">Balance Enquiry</a>
     {% if accounts.type == 'loan' %}
     asdasd
     {% endif %} 
     </td>
  </tr>
  {% endfor %}

</table>

<a href="{% url 'createakun' nasabah.id_customer %}">tambah</a>



{% endblock content %} 