{% extends 'partials/base.html' %}

{% block title %}Dashboard Page{% endblock %}
{% load crispy_forms_tags %}

{% block content %} 
<br>
<br>
<h1> data akun</h1>
<h2> nama nasabah : {{nasabah.name}} </h2>

<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;    
}
</style>

<table style="width:100%;">
  <tr>
    <th>id</th>
    <th>type</th>
    <th>balance</th>
    <th> transaction </th>
  </tr>
    {% for accounts in accounts %}
  <tr>
    
    <td>{{accounts.id_account}}</td>
    <td>{{accounts.type}}</td>
    <td>{{accounts.balance}}</td>
    <td> <a class="btn btn-success" href="{% url 'deposit' accounts.id_account %}">deposit</a>
    {% if accounts.type == 'checking account'  %}
    <a class="btn btn-primary" href="{% url 'checkingwithdraw' accounts.id_account %}">checking withdraw</a>
    {% else %}
    <a class="btn btn-primary" href="{% url 'withdraw' accounts.id_account %}">withdraw</a>
    {% endif %}
     <a class="btn btn-warning" href="{% url 'BalanceEnquiry' accounts.id_account %}">Balance Enquiry</a>
     {% if accounts.type == 'loan' %}
     <a class="btn btn-success" href="{% url 'loan' accounts.id_account %}">Loan</a>
     {% endif %} 
     </td>
  </tr>
  {% endfor %}

</table>

<a class="btn btn-success" href="{% url 'createakun' nasabah.id_customer %}">tambah</a>



{% endblock content %} 