<h1> data akun </h1>
<h2> {{nasabah.name}} </h2>

<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;    
}
</style>

<table style="width:100%;">
  <tr>
    <th>id</th>
    <th>type</th>
    <th>balance</th>
    <th> transaction </th>
  </tr>
    {% for accounts in accounts %}
  <tr>
    
    <td>{{accounts.id_account}}</td>
    <td>{{accounts.type}}</td>
    <td>{{accounts.balance}}</td>
    <td> <a href="#">save</a>
     <a href="#">loan</a>
     <a href="#">check</a></td>
  </tr>
  {% endfor %}

</table>

<a href="{% url 'createakun' nasabah.id_customer %}">tambah</a>
<a href="{% url 'deposit' %}">deposit</a>