{% extends 'partials/base.html' %}

{% block title %}Dashboard Page{% endblock %}
{% load crispy_forms_tags %}

{% block content %} 

<form action="daftar_nasabah" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% comment %} <table> {% endcomment %}
    
    {{nasabah_form|crispy}}
    {% comment %} </table> <br> {% endcomment %}
    <button class="btn-primary" type="Submit">submit</button>
    <button class="btn-primary" type="submit">submit</button>
    <button type="submit">asd</button>
</form>

{% endblock content %} 