{% extends 'partials/base.html' %}

{% block title %}Pay loan{% endblock %}
{% load crispy_forms_tags %}

{% block content %} 

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display-8">Contact Sevice</h2>
  </div>
</div>

<div class="container">
	<div class="row">
		<div class="col text-center">
			<h1> Anggota Kelompok</h1>
		</div>
	</div>
	<br>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <h4>AYU LINTANG GAYANTI</h4>
      <ul>
			<li>119140095</li>
			<li>TEKNIK INFORMATIKA</li>
			<li>+62 877-6953-1810 </li>
			<li>ayu.119140095@student.itera.ac.id</li>
		</ul>
    </div>
    <div class="col-sm">
      <h4>MUKSIN BAGASKARA</h4>
    </div>
    <div class="col-sm">
      <h4>MUHAMMAD ALDITO RIZKI</h4>
    </div>
  </div>
</div>
{% endblock content %} 