{% extends 'partials/base.html' %}

{% block title %}Pay loan{% endblock %}
{% load crispy_forms_tags %}

{% block content %} 

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display-8">Contact Sevice</h2>
  </div>
</div>

<div class="container">
	<div class="row">
		<div class="col text-center">
			<h1> Anggota Kelompok</h1>
		</div>
	</div>
	<br>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <h4>AYU LINTANG GAYANTI</h4>
      	<ul>
			<li>119140095</li>
			<li>TEKNIK INFORMATIKA</li>
			<li>+62 877-6953-1810 </li>
			<li>ayu.119140095@student.itera.ac.id</li>
		</ul>
    </div>
    <div class="col-sm">
      <h4>MUKSIN BAGASKARA</h4>
      	<ul>
			<li>119140167</li>
			<li>TEKNIK INFORMATIKA</li>
			<li>+62 812-7331-2165 </li>
			<li>muksin.119140167@student.itera.ac.id</li>
		</ul>
    </div>
    <div class="col-sm">
      <h4>MUHAMMAD ALDITO RIZKI</h4>
      	<ul>
			<li>119140170</li>
			<li>TEKNIK INFORMATIKA</li>
			<li>+62 822-8300-9900 </li>
			<li>muhammad.119140170@student.itera.ac.id</li>
		</ul>
    </div>
  </div>
</div>
{% endblock content %} 