{% extends 'partials/base.html' %}

{% block title %}Home{% endblock %}
{% load crispy_forms_tags %}

{% block content %} 
<div class="jumbotron jumbtron-fluid">
	<div class="container text-center">
		{% comment %} <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9VfuzgvGahwlZ7hJyX8U8BjshlohpeUFxjw&usqp=CAU" width="200px;"> {% endcomment %}
  <h1>SukaBank.id</h1>
  <p>Better Bank Managament System	</p> 
</div>
</div>

<div class="container">
	<div class="row">
		<div class="col text-center">
			<h1>CARI NAMA NASABAH</h1> <br>
		</div>
	</div>

	<div class="row">
		<div class="col text-center">
			<form action="/bank/akun" method="POST">
                {% csrf_token %} 
                {{form|crispy}}
				<br>
                <button class="btn btn-primary" type='submit'>Search Customer</button>
            </form>
		</div>
	</div>
</div>

{% endblock content %} 